<%= form_for(@shorter) do |f| %>
  <% if @shorter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shorter.errors.count, "error") %> prohibited this shorter from being saved:</h2>

      <ul>
      <% @shorter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group">
    <%= f.text_field :long_url, class:'form-control', placeholder: 'http://long_url.com' %>
    <div class="input-group-btn">
      <%= f.submit "Chomp URL", class: 'btn btn-primary' %>
    </div>
  </div>

<% end %>
