<script>
$(function () {
  new Highcharts.Chart({
    chart: { renderTo: 'orders_chart' },
    title: { text: 'Click Count' },
    xAxis: { type: 'datetime' },
    yAxis: {
      title: { text: 'clicks'}
    },
    series: [{
      pointInterval: <%= 1.day * 1000 %>,
      data: [<%= @shorter.clicks  %>]
    }]
  });
});
</script>

<div class="well text-center"><b><%=link_to "#{domain_request+'/' + @shorter.short_url}", domain_request+'/' + @shorter.short_url  %></b></div>
<%= link_to (truncate "#{@shorter.long_url}".html_safe, length: 30), @shorter.long_url %>
<div id="orders_chart" style="height: 200px;"></div>

<h4><i class="fa fa-flag"></i> Top Countries</h4>
<% @countries.each do |c| %>
<div class="progress">
  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
       aria-valuemin="0" aria-valuemax="100" style="width:<%= c.count*10 %>%">
    <%= c.country %>  <span class="badge"><%= c.count %> </span>
  </div>
</div>
<% end %>

<h4><i class="fa fa-chrome"></i> Top Browser</h4>
<% @devices.each do |d| %>
    <div class="progress">
      <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="40"
           aria-valuemin="0" aria-valuemax="100" style="width:<%= d.count*10 %>%">
        <%= d.device %> <span class="badge"><%= d .count %> </span>
      </div>
    </div>
<% end %>

<h4><i class="fa fa-link"></i> Top Referrers</h4>
<% @referrers.each do |d| %>
    <div class="progress">
      <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="40"
           aria-valuemin="0" aria-valuemax="100" style="width:<%= d.count*10 %>%">
        <%=  %> <span class="badge"><%= d .count %> </span>
      </div>
    </div>
<% end %>

