

<div class="row">
  <div class="col-md-7">
    <div class="form-set">
      <%= render 'form' %>
    </div>


    <div class="well" id="Url-flash">

    </div>

    <div class="clearfix"></div>
    <% if current_user %>
        <table class="table">
          <thead>
          <tr>
            <td>Long url</td>
            <td>Short url</td>
            <td>Clicks</td>
            <td>created at</td>
            <td>Action</td>
          </tr>
          </thead>
          <tbody id="url-append">
            <%= render @shorter %>
          </tbody>
        </table>
    <% else %>
        <div class="alert alert-info" role="alert">Sign up or Sign in to keep your history and statistic of your URL</div>
    <% end %>
  </div>
  <div class="col-md-5" id="details">
    <i class="fa fa-cog fa-spin ajax-spiners"></i>
    <table class="table">
      <h3 align="center">Recent Url</h3>
      <thead>
      <tr>
        <td>Short url</td>
        <td>Long url</td>
        <td>Created at</td>
      </tr>
      </thead>
        <% @public_url.each do |public| %>
        <tr>
          <td><%=link_to "#{domain_request+'/' + public[0]}",  domain_request+'/' + public[0]  %></td>
          <td><%= link_to (truncate "#{public[1]}".html_safe, length: 20), public[1] %></td>
          <td><%= time_ago_in_words  public[2]  %> ago</td>
        </tr>
        <% end %>
    </table>
   <div align="center"> <%= will_paginate @public_url %> </div>
  </div>
</div>






