<p id="notice"><%= notice %></p>

<p>
  <strong>Long url:</strong>
  <%= @shorter.long_url %>
</p>

<p>
  <strong>Short url:</strong>
  <%= @shorter.short_url %>
</p>

<p>
  <strong>Click:</strong>
  <%= @shorter.click %>
</p>

<p>
  <strong>User:</strong>
  <%= @shorter.user_id %>
</p>

<%= link_to 'Edit', edit_shorter_path(@shorter) %> |
<%= link_to 'Back', shorters_path %>
